<app-homepage></app-homepage>
<br>
<br>
<br>
<div class="p-3  border border-dark border-start-0 rounded-end">
<h4>Data Dictonary</h4>
    <div class="btn-group ml-5 mb-2" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> CV Score </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> Age </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> No of CC </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> BCC 1 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> BCC 2 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> Bcc 3 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> Bcc 4 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> Bcc 5  </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> Bcc 5  </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> Bcc 5  </button>
        
      </div>
    <div class="btn-group ml-5" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> Bcc 6 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> A_1 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> A_2 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> A_3 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> A_4 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> A_5 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> A_6 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> A_7 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> A_8 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> A_8 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"> A_8 </button>
      </div>
    </div>

    <br><br>
    <br>
    <div class="btn-group mt-4 position-relative start-50 translate-middle" role="group" aria-label="Default button group">
        <button type="button" class="btn btn-outline-info pl-5 pr-5" routerLink="/stat1" routerLinkActive="active"> Strategy 1 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"routerLink="/stat2" routerLinkActive="active">  Strategy 2 </button>
        <button type="button" class="btn btn-outline-info pl-5 pr-5"routerLink="/stat3" routerLinkActive="active">  Strategy 3  </button>
      </div>