<app-dashboard></app-dashboard>
<br><br>

 <div class="container">
    <table class="table table-bordered table-responsive">
        <thead class="table-info">
            <tr></tr>
          <tr>
            <th scope="col">Team</th>
            <th scope="col">Strategy1</th>
            <th scope="col">Approv.Rate</th>
            <th scope="col">BadRate</th>
            <th scope="col">Population</th>
            <th scope="col">Strategy2</th>
            <th scope="col">Approv.Rate2</th>
            <th scope="col">BadRate2</th>
            <th scope="col">Population2</th>
            <th scope="col">Strategy3</th>
            <th scope="col">Appov.Rate3</th>
            <th scope="col">BadRate3</th>
            <th scope="col">Population3</th>
            <th scope="col">select</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">A</th>
            <td>1</td>
            <td>10%</td>
            <td>1.3%</td>
            <td>1000</td>
            <td>1</td>
            <td>10%</td>
            <td>1.3%</td>
            <td>1000</td>
            <td>1</td>
            <td>10%</td>
            <td>1.3%</td>
            <td>1000</td>
          </tr>
          <tr>
            <th scope="row">B</th>
            <td>2</td>
            <td>20%</td>
            <td>5%</td>
            <td>2000</td>
            <td>2</td>
            <td>20%</td>
            <td>5%</td>
            <td>2000</td>
            <td>2</td>
            <td>20%</td>
            <td>5%</td>
            <td>2000</td>
          </tr>
          <tr>
            <th scope="row">C</th>
            <td>3</td>
            <td>10%</td>
            <td>1%</td>
            <td>3000</td>
            <td>3</td>
            <td>30%</td>
            <td>10%</td>
            <td>3000</td>
            <td>3</td>
            <td>30%</td>
            <td>10%</td>
            <td>3000</td>
          </tr>
        </tbody>
        
      </table>
      <br>
      <br>
      <button type="button" class="btn btn-outline-info position-relative start-50 translate-middle">Submit For Final</button>
 </div>